@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.hero-wrap {
  background-image: url(../images/top-bg.png);
  background-size: auto;
  background-position: bottom;
  background-repeat: no-repeat;
  max-width: 1280px;
  margin: 0 auto;
}

.customers-wrap {
  background-image: url(../images/mid-bg.png);
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  max-width: 1280px;
  margin: 0 auto;
}
