<section class="favorites">
  <div class="container">
    <h2 class="favorites-title title">Some of Our Favorites</h2>
    <p class="favorites-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list">
      <li class="favorites-item">
        <img src="./images/gamburger.png" alt="" />
      </li>
      <li class="favorites-item">
        <img src="./images/pasta.png" alt="" />
      </li>
      <li class="favorites-item">
        <img src="./images/pizza.png" alt="" />
      </li>
      <li class="favorites-item">
        <img src="./images/chicken.png" alt="" />
      </li>
      <li class="favorites-item">
        <img src="./images/salat.png" alt="" />
      </li>
      <li class="favorites-item">
        <img src="./images/borshch.png" alt="" />
      </li>
    </ul>
  </div>
</section>
