<section class="favorites">
  <div class="container">
    <h2 class="favorites-title title">Some of Our Favorites</h2>
    <p class="favorites-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list">
      <li class="favorites-item">
        <a href="" class="favourites-link">
          <img src="./images/gamburger.png" alt="gamburger" />
        </a>
      </li>
      <li class="favorites-item">
        <a href="" class="favourites-link">
          <img src="./images/pasta.png" alt="pasta" />
        </a>
      </li>
      <li class="favorites-item">
        <a href="" class="favourites-link">
          <img src="./images/pizza.png" alt="pizza" />
        </a>
      </li>
      <li class="favorites-item">
        <a href="" class="favourites-link">
          <img src="./images/chicken.png" alt="chicken" />
        </a>
      </li>
      <li class="favorites-item">
        <a href="" class="favourites-link">
          <img src="./images/salat.png" alt="salat" />
        </a>
      </li>
      <li class="favorites-item">
        <a href="" class="favourites-link">
          <img src="./images/borshch.png" alt="borshch" />
        </a>
      </li>
    </ul>
  </div>
</section>
