<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-nav">
        <a href="" class="logo footer-logo">
          <svg class="logo-icon" width="71" height="52">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <nav class="navigation">
          <ul class="footer-list menu">
            <li class="footer-item menu-item">
              <a href="" class="footer-link menu-link">Home</a>
            </li>
            <li class="footer-item menu-item">
              <a href="" class="footer-link menu-link">About</a>
            </li>
            <li class="footer-item menu-item">
              <a href="" class="footer-link menu-link">Service</a>
            </li>
            <li class="footer-item menu-item">
              <a href="" class="footer-link menu-link">Menu</a>
            </li>
            <li class="footer-item menu-item">
              <a href="" class="footer-link menu-link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer-sub">
        <p class="footer-subscribe-title">Subscribe</p>
        <form class="footer-form">
          <input
            type="email"
            placeholder="Enter your email"
            class="footer-input input"
          />
          <button type="submit" class="footer-btn bg-btn">Subscribe</button>
        </form>
        <p class="footer-sub-text">
          By subscribing you agree to with our
          <a href="">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="footer-bottom-list">
        <li class="footer-bottom-item">
          <a href="" class="footer-bottom-link">Privacy Policy</a>
        </li>
        <li class="footer-bottom-item">
          <a href="" class="footer-bottom-link">Terms of Service</a>
        </li>
        <li class="footer-bottom-item">
          <a href="" class="footer-bottom-link">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer-copy">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
