<section class="offerings">
  <div class="container">
    <div class="offerings-pic"></div>
    <div class="offerings-content">
      <h2 class="offerings-title title">What’s Special About Our Offerings</h2>
      <p class="offerings-text section-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings-list">
        <li class="offerings-item">
          <div class="offerings-icon-wrap">
            <svg class="offerings-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-rocket"></use>
            </svg>
          </div>
          <h3 class="offerings-subtitle">Fasest Delivery</h3>
          <p class="offerings-subtext section-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings-item">
          <div class="offerings-icon-wrap">
            <svg class="offerings-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-touch"></use>
            </svg>
          </div>

          <h3 class="offerings-subtitle">Easy To Order</h3>
          <p class="offerings-subtext section-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <button type="button" class="offerings-btn bg-btn">Order Now</button>
    </div>
  </div>
</section>
