.solid-btn {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-color);
  background: #bbf330;
  border-radius: 30px;
  border: none;
  padding: 6px 18px;
  transition: background-color 300ms linear;
  &:hover,
  &:focus {
    background-color: #b5ff00;
  }
}

.bg-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
  padding: 8px 18px;
  background: #fefefe;
  border: 2px solid #7eb101;
  border-radius: 30px;
}
