.input {
  height: 42px;
  border: 1px solid #ffe550;
  border-radius: 30px;
  background-color: transparent;
  padding-left: 11px;
}

.input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

.input:not(:focus):not(:placeholder-shown):valid {
  border-color: #7eb101;
}

.input:not(:focus):not(:placeholder-shown):invalid {
  border-color: #ff705d;
}
