.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.menu {
  // gap: 28px;
  border-radius: 30px 0 30px 30px;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  background-color: #ffffff;
  width: 130px;
  @include tablet {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    display: flex;
    gap: 28px;
    width: unset;
    background-color: transparent;
    box-shadow: unset;
    border-radius: unset;
  }
}

.menu-item {
  &:first-child a {
    border-radius: 30px 0 0 0;
    @include tablet {
      border-radius: unset;
    }
  }

  &:last-child a {
    border-radius: 0px 0px 30px 30px;
  }
}

.menu-link {
  padding: 16px 0 16px 16px;
  font-size: 14px;
  line-height: 1.14;
  display: block;
  color: #2c2c2c;
  transition: background-color 300ms linear;
  &:hover,
  &:focus {
    @include tablet {
      color: #7eb101;
      background-color: unset;
    }
  }
  @include tablet {
    padding: 0;
    transition: color 300ms linear;
  }
  // &:hover,
  // &:focus {
  //
  // }
}
