.customers {
  padding-top: 60px;
  padding-bottom: 17px;
  @include tablet {
    padding-bottom: 32px;
  }
  @include desktop {
    padding-top: 100px;
    padding-bottom: 93px;
  }
}
.customers-title {
  margin-bottom: 20px;
}

.customers-text {
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 40px;
  }
  @include desktop {
    margin-bottom: 26px;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  @include tablet {
    gap: 32px;
  }
  @include desktop {
    gap: 139px;
  }
}

.customers-item {
  width: 100%;
  background: #fefefe;
  padding: 14px;
  border: 1px solid transparent;
  border-radius: 0 30px 30px 30px;
  transition: border 300ms linear, box-shadow 300ms linear;
  &:hover,
  &:focus {
    border-color: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  @include tablet {
    width: calc((100% - 32px) / 2);
  }
  @include desktop {
    width: 501px;
  }
}

.stars {
  margin-bottom: 28px;
}

.customers-item-text {
  margin-bottom: 40px;
}

.customer-person {
  padding-right: 16px;
  border-right: 1px solid #7eb101;
  display: flex;
  align-items: center;
  width: 165px;
}

.customer-person-content {
  margin-left: 16px;
}

.customer-person-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-color);
}

.customer-person-position {
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-color);
}
