.header {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  > .container {
    display: flex;
    align-items: center;
    position: relative;
  }
}

.header-right {
  position: absolute;
  right: 15px;
  top: 40px;
  z-index: 999;
  @include tablet {
    position: static;
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.header-link {
  font-size: 14px;
  line-height: 1.14;
  color: #2c2c2c;
}

.header-btn {
  margin-left: 28px;
  display: none;
  @include tablet {
    display: block;
  }
}

.menu-open {
  width: 28px;
  height: 28px;
  padding: 0;
  margin-left: auto;
  display: block;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    display: none;
  }
}
