.hero {
  padding-top: 14px;
  padding-bottom: 14px;
}
.hero-content {
  max-width: 500px;
}

.hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: var(--main-color);
  margin-bottom: 28px;
}
.hero-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color);
  margin-bottom: 40px;
}
