.subscribe {
  padding-top: 93px;
  padding-bottom: 100px;
  background-image: url(../images/banan.png);
  background-position: right 23px bottom 64px;
  background-repeat: no-repeat;
}

.subscribe-content {
  max-width: 656px;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-text {
  margin-bottom: 24px;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  width: 394px;
  margin-right: 32px;
}

.subscribe-btn {
  padding-left: 29px;
  padding-right: 29px;
}
